body{
	background: #f5f5f8;
	font-family: 'TT Norms';
}
input{
	border: 1px solid #f1f1f1;
	box-shadow:none!important;
}
input:focus{
	border-color: #6666ff!important;
	box-shadow:none!important;
}
label{
	max-width: none;
}
body>.row{
	margin: 0;
	font-size: 10pt;
	padding: 0;
}
body>.row>div:nth-child(1){
	padding-left: 0;
}

.sticky{
	position: fixed;
	z-index: 101;
}
.stop{
	position: relative;
	z-index: 101;
}

.nav{
	background: white;
	padding: 40px;
	box-shadow: 10px 0 10px rgba(200,200,200,0.1);
}
.nav-stacked li{
	margin-top: 15px!important;
}
.nav-stacked .logo{
	text-transform:uppercase;
	font-size: 18pt;
	font-weight: 300;
    margin: 45px auto;
}
.nav-stacked .logo span{
	font-weight:bold;
}
.nav li a {
	font-size: 10pt;
	color: #686772;
	padding: 10px 3px;
	text-decoration: none;
	border: none;
}
.nav li a:hover{
	background: none;
	color: black;
}



.nav li img{
	margin-right: 10px;
}
.nav hr{
	color: #f1f1f1;
	height: 1px;
}

.adt{
	padding: 40px 40px 40px 15px;
}
.adt .left_headline p{
	margin: 15px auto 45px auto;
	font-size: 16pt;
	font-weight: bold;
}
.adt .right_headline .lk_img_btn{
	margin: 20px auto 45px auto;
	font-size: 10pt;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
	float: right;
	padding: 0;
	border: none;
    background: none;
}
.adt .right_headline .lk_img{
    width: 35px;
    height: 35px;
    right: 150px;
    top: 10px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
}
.adt .right_headline .menu-lk{
	right: 10px;
	left: auto;
	top: 45px;
	width: 200px;
	border: 1px solid rgb(235, 234, 234);
}
.adt .right_headline .menu-lk a{
	font-size: 10pt;
	color: #686772;
    padding: 12px 15px;
	text-decoration: none;
}
.adt .right_headline .menu-lk .divider {
    margin: 0;
}
.adt .right_headline .dropdown-menu {
	padding: 0;
}
.adt .right_headline img{
    height: 40px;
}
.adt_main{
	background: white;
	padding: 5px 20px;
	box-shadow: 0px 0 5px rgba(200,200,200,0.2);
	border-radius: 7px;
}
.adt_main .row{
	margin: 0;
}
.adt_main .row>div{
	padding:0 10px 0 0;
}

.headline{
	font-size: 9pt;
}
.headline p{
	margin-bottom: 5px;
}

.adt_desk{
	border-bottom: 1px solid #f1f1f1;
    margin-top: 20px;
    padding-bottom: 20px;
}
.row.adt_block{
	margin-top: 15px;
}
.adt_block p{
	font-size: 10pt;
	color: #686772;
	margin: 0;
}
.adt_block span{
	font-size: 10pt;
	color: #d2d1d4;
}
.adt_desk .adt_headline{
	font-weight: bold;
	font-size: 12pt;
	margin: 15px auto;
}
.files_input{
	margin-top: 15px;
}

textarea{
	margin: 0px;
    height: 150px;
    width: 561px;
    min-width: 100%;
	max-width: 100%;
	border-radius: 5px;
    border: 1px solid #f1f1f1;
}



.adt_block #adress{
	border: 1px solid #f1f1f1; 
	border-radius: 4px;
	padding: 7px;
	width: 100%;
}
.adt_block iframe{
	margin-top:20px;
	border-radius: 7px;
}

.adt_block>div:nth-child(1){
	line-height: 2.6;
}

.right-menu>.row{
	text-align: right;
}

.right-menu>p {
    margin: 35px auto 45px auto;
    font-size: 10pt;
	font-weight: 100;
	text-transform: uppercase;
}
.right-menu>.row>div img{
   width: 40px;
   height: 40px;
   border: 1px solid gray;
   border-radius: 50%;
}
	

.listing{
	background: white;
	padding: 5px 20px;
	box-shadow: 0px 0 5px rgba(200,200,200,0.2);
	border-radius: 7px;
	padding: 5px 20px 20px;
	list-style: none;
}

.listing li{
	margin-top: 20px;
}
.listing li::before {   
    content: "\2713";
    color: #6666ff;
    font-size: 12pt;
	font-weight: 300;
	margin-right: 10px;
}
.listing li img{
	margin-right: 10px;
}



input.radio{
	display:none;
}

label.radio-inline {
	display: block;
    margin: 0;
	padding: 8px 15px;
    border: 1px solid #f1f1f1;
    background: white;
	cursor: pointer;
	font-size: 10pt;
	color: #23232f;
	transition: .3s;
	
}

.radio_button input.radio:checked + label.radio-inline {
    background: #6666ff;
    color: white;
	border: 1px solid #6666ff;
	transition: .3s;
	
}
.row .radio_button:nth-child(1) .radio-inline{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.row .radio_button:nth-last-child(1) .radio-inline{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.radio_button {
    float: left;
}

.checkbox-inline{
	margin-top: 5px!important;
	padding-left: 0;
}
.adt_main .row.checkbox-row{
	margin-top: 15px;
}
.adt_main .row.checkbox-row:nth-child(1){
	margin-top: 0;
}
.checkbox-inline span{
	color:#686772;
}

.input-group, .input-group input{
	height: 37px;
}

.input-group, .input-group input {
    height: 37px;
    width: 100%;
}

input[type=checkbox] { display: none; }

.pseudocheckbox::before {   
	content: "\00A0";
	border-radius: 50%;
	padding: 2px;
	border: 1px solid lightgray;
    display: inline-block!important;
    box-sizing: border-box;
    width: 20px; 
    height: 20px;
    background-color: white;
    margin-right: 6px;
    vertical-align: baseline;
    text-align: center;
    font-family: Arial, sans-serif;
	font-size: 10pt;
    line-height: 16px;
    font-weight: bold;
    color: #808080;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 0px;
}

input[type=checkbox]:checked + .pseudocheckbox::before { 
    content: "\2713";
    color: #FFF;
 
    font-weight: 100;
    background: #6666ff;
 }
 .btn-primary.btn-chern{
	background: #fff;
	color: #6666ff;
	border: 1px solid #f1f1f1;
	transition: .3s;
 }
.btn-primary.btn-send{
	background: #fff;
	color: #6666ff;
	border: 1px solid #6666ff;
	padding: 8px 15px;
	float: right;
	margin-top: 15px;
 }
 .btn-primary.btn-youtube{
	 background: white;
	 color: #6666ff;
	 border: 1px solid #f1f1f1;
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 8pt;
	 padding: 10px 20px;
	 float: right;
	 transition: .3s;
 }
 .btn-primary.btn-youtube:hover, .btn-primary.btn-chern:hover, .btn-primary.btn-send:hover{
	 background: white;
	 color: #6666ff;
	 border: 1px solid #6666ff;
	 transition: .3s;
 }
.btn-primary.btn-youtube:active, .btn-primary.btn-chern:active, .btn-primary.btn-send:active{
	 background: #efefff;
	 color: #6666ff;
	 border: 1px solid #6666ff;
	 transition: .3s;
 }
 .btn-primary{
	 background: #6666ff;
	 color: white;
	 border: 1px solid #6666ff;
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 8pt;
	 padding: 14px;
	 width: 100%;
 }
 .row_end .btn-primary{
	 margin-top: 10px;
 }
 .btn-primary:hover{
	 background: #7272ff;
	 border: 1px solid #7272ff;
	 transition: .3s;
	 color: white;
 }
 .btn-primary:active{
	 background: #4343aa;
	 border: 1px solid #4343aa;
	 transition: .3s;
	 color: white;
 }
 select{
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: 10pt;
	color: #686772;
	height: 37px;
	width: 100%;
	outline: none;
 }

 select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.btn-group::after {
	content: url(/img/arrow-down.svg);
	position: absolute;
	top: 11px;
	right: 11px;

 }
.btn-group.btn-group-map::after {
	content: url(/img/arrow-down.svg)!important;
	position: absolute;
    top: 9px;
    right: 7px;
	-moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);

 }

 .btn-group.group-floor{
	 width: 76px;
}
 select option{
	font-size: 10pt;
	color: #686772;
	padding: 12px 15px;
	text-decoration: none;
 }
 .param{
	background: white;
	padding: 5px 20px 15px 25px;
	box-shadow: 0px 0 5px rgba(200,200,200,0.2);
	border-radius: 7px;
	color:  rgb(190, 190, 190);
	border: 1px solid rgb(228, 226, 226);

 }
 .param .checkbox-inline {
	margin-top: 5px!important;
	padding-left: 2px;
}
.param p{
	margin-top: 15px;
 }

.param .row{
    padding-right: 5px;
 }

 .search-param{
    padding-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 20px;
	border-top: 1px solid rgb(228, 226, 226);
 }
.search-param>div{
   padding: 0;
 }


.search-param .btn-primary{
	padding: 14px;
	color: #6666ff;
	background: rgb(243, 242, 242);
	border: none;
    margin-left: 0;
 }

.search-param .btn-primary.btn-chern{
	border: none;
	background: none;
	color: black;
    font-weight: 500;

 }
.search-param .btn-primary.btn-chern:hover{
	border: none;
	background: none;
	color: #6666ff;
	transition: .3s;

	
 }

.input-name{
	height: 37px;
	width: 100%;
 }
.input-price{
	height: 37px;
	width: 256px;
 }
.input-kad{
	height: 37px;
	width: 100%;
 }
 .input-contact{
	height: 37px;
	width:100%;
 }
.input-number{
	height: 37px;
	width: 114px;
 }
.input-group.input-number input{
	height: 37px;
	width: 80px;
 }

.btn-group.btn-floor{
	width: 44%;
}

.input-group.inline{
	float: left;
}

.btn-group .button-map{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 10pt;
    color: #686772;
    height: 37px;
	width: 100%;
	cursor: pointer;
}
.input-group .input-group-addon{
    background: none;
	border: none;
	color: #686772;

 }

 .input-group input[type=text], .input-group input[type=tel]{
	border-radius: 5px!important;
	border: 1px solid #f1f1f1;
 }

 .search>.row:nth-child(1){
	margin-top: 50px;
 }
.search>.row:nth-child(2){
	margin: 0;
 }

 .none-margin{
	margin: 0;
 }

.none-margin.search_elem{
	margin-top: 30px;
 }


 .search .search_stat{
	font-size: 12pt;
	font-weight: bold;
 }

.search .search_sort{
	cursor: pointer;
	text-align: right;
 }

.search_result:nth-child(1){
	margin-top: 0;
}

.search_result{
	background: white;
	padding: 0px 25px 0px 0px;
	box-shadow: 0px 0 5px rgba(200,200,200,0.2);
	border-radius: 7px;
	color:  rgb(190, 190, 190);
	border: 1px solid rgb(228, 226, 226);
	overflow: hidden;
	margin-top: 20px;
}
.search_result div{ 
	padding: 0;
}
.announce{
	padding: 10px 0px 25px 30px!important;
}


.announce_headline{
	margin-top: 20px;
	line-height: 0.2;
}
.announce_name, .search_job_head{
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	color: black;
}
.announce_price{
	font-size: 14pt;
	font-weight: bold;
	text-align: right;
	color: black;
}

.announce_adress{
	line-height: 1;
}
.announce_adress p{
	color: rgb(71, 71, 71);
	float: left;
}
.announce_adress span{
	margin-left: 5px;
	float: left;
}

.announce_param p{
	margin: 0;
}

.announce_numbers p{
	color: rgb(71, 71, 71);
}

.announce_discription p{
	color: rgb(71, 71, 71);
}

.announce_check label{
	padding: 0;
}

.announce_check .checkbox-inline {
    margin-top: 15px!important;
}
.announce_check .checkbox-inline span {
    color: #6666ff;
    font-weight: bold;
    font-size: 9pt;
    text-transform: uppercase;
}

.search_job{
	background: white;
	padding: 25px;
	box-shadow: 0px 0 5px rgba(200,200,200,0.2);
	border-radius: 7px;
	color:  rgb(190, 190, 190);
	border: 1px solid rgb(228, 226, 226);
	overflow: hidden;
	margin-left: 30px;
	width: 30%;
}
.search_job .row {
	margin-left: 0;
	margin-right: 0;
}

.search_discr{
	color: rgb(71, 71, 71);
}
.search_job .btn-primary{
	width: 100%;
	margin: 5px auto;
}

.btn-group{
	height: 37px;
}
.search_job .btn-group, .search_job .btn-group-vertical, .search_job select, .btn-group, .btn-group select{
    width: 100%;
}
.search_job select{
	border: none;
	font-size: 12pt;
	font-weight: bold;
	color: black;
	padding: 10px 0px;
}

.search_job .btn{
	background: #6666ff;
	border: 1px solid #6666ff;
	color: white;
}
.search_job .btn.btn-main, .modal-dialog .btn.btn-main{
	background: none;
	border: 1px solid rgb(219, 219, 219);
	color: #6666ff;
}

.search_job .btn.disabled{
	opacity: .3;
}
.search_job hr{
	width: 100%; 
	height: 1px; 
	color: #f1f1f1; 
	margin: 5px auto;
}

.modal-dialog{
	width: 50%;
}
.modal-dialog .adt_block{
	border-top: 1px solid #eFeFFF;
}
.modal-dialog .adt_block:nth-child(1){
	border-top: 1px solid #fff;
}

.modal-dialog .nav {
	padding: 0;
	box-shadow:none;
}

.modal-dialog .nav-tabs>li>a{
	border: 1px solid #fff;
	color: black;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 9pt;
	padding: 15px 10px;
	margin-bottom: -1px;
	background: #fff;

}
.modal-dialog .nav-tabs{
	border-bottom: 1px solid #eFeFFF;
}
.modal-dialog .nav-tabs>li.active>a, .modal-dialog .nav-tabs>li.active>a:focus, .modal-dialog .nav-tabs>li.active>a:hover{
    border: 2px solid #fff;
	border-bottom: 2px solid #6666ff;
	color: #6666ff;
	font-weight: 600;
	background: #fff;
	margin-bottom: -1px;
}
.close {
    font-size: 36px;
	font-weight: 300;
	margin-right: 15px;
	outline: none;
	border: none;
}

.modal-body {
    position: relative;
	padding: 0px 15px;
}
#myModal2 .modal-header {
	padding: 30px 15px;
}
#myModal2 .modal-content {
    padding-top: 0px;
}

.modal-dialog .adt_block:nth-child(1){
	border-top: 1px solid #eFeFFF;
}

.modal-content .tab-content::-webkit-scrollbar { width: 3px; height: 3px;}
.modal-content .tab-content::-webkit-scrollbar-button {  background-color: #ffffff; }
.modal-content .tab-content::-webkit-scrollbar-track {  background-color: #ffffff;}
.modal-content .tab-content::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.modal-content .tab-content::-webkit-scrollbar-thumb { height: 50px; background-color: #ffffff; border-radius: 3px;}
.modal-content .tab-content::-webkit-scrollbar-corner { background-color: #ffffff;}
.modal-content .tab-content::-webkit-resizer { background-color: #ffffff;}

.modal-content {
    border-radius: 9px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
}

.modal-content .row.adt_block {
	margin-top: 0px;
	padding: 20px;
}

.modal-content .btn-group{
	height: auto;
	margin: auto;
	width: 65%;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: 10px;
}

.modal-content .btn-group::after {
    content:none;
}
.modal-content .btn-primary {
	width: 48%;
	border-radius: 4px!important;
}

.modal-footer {
	text-align: center;
	border-top: 1px solid #eFeFFF;
}

.modal-title {
	font-size: 18pt;
	padding-left: 10px;
}

.modal-header {
	border-bottom: none;
	padding-bottom:0;
}

.modal-content .tab-content{
	padding: 0px;
	overflow-y: scroll;
    max-height: 55vh;
}


 .col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}

.col-xs-five-half .input-group, .col-sm-five-half .input-group, .col-md-five-half .input-group, .col-lg-five-half .input-group{
	width: 100%;
}

.form-control {
	height: 37px;
	border: 1px solid #f1f1f1;
}

.btn-group-floor .form-floor{
    width: 50%;
}
.btn-group-floor .form-floor:focus{
    border: 1px solid #f1f1f1;
}

.btn-group-floor .form-floor:nth-child(1){
	float: left;
    border-right: 1px solid #f1f1f1;
    border-radius: 5px 0 0 5px!important;
}
.btn-group-floor .form-floor:nth-child(2){
    float: right;
    border-left: none;
    border-radius: 0 5px 5px 0!important;
}

 .col-xs-five-half,
.col-sm-five-half,
.col-md-five-half,
.col-lg-five-half {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-five-half {
    width: 40%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five-half {
        width: 40%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five-half {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five-half {
        width: 40%;
        float: left;
    }
}


.col-xs-five-three,
.col-sm-five-three,
.col-md-five-three,
.col-lg-five-three {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-five-three {
    width: 60%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five-three {
        width: 60%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five-three {
        width: 60%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five-three {
        width: 60%;
        float: left;
    }
}
